<!DOCTYPE html>
<html lang="ru">


<head>

    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="description" content="@ViewBag.Description">
    <meta name="Keywords" content="@ViewBag.Keywords">
    @Html.Partial("_html5shiv")

    @Scripts.Render("~/bundles/jqueryold")
    @Styles.Render("~/Content/css")
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

</head>
<body>
    <header>
        @*  <img src="~/Content/themes/base/images/logo.png" width="300" style="float: left; cursor:pointer;" id="logoIMG"/>*@
        <div class="">
            @*<div class="float-left">
                    <p class="site-title">@Html.ActionLink(Request.ServerVariables["HTTP_HOST"], "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li class="btn btn-default btn-lg">@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                            <li class="btn btn-default btn-lg">@Html.ActionLink("Публикации", "List", "Publication")</li>
                            <li class="btn btn-default btn-lg">@Html.ActionLink("Каталог", "List", "Catalog")</li>
                            <li class="btn btn-default btn-lg">@Html.ActionLink("О программе", "About", "Home")</li>
                            <li class="btn btn-default btn-lg">@Html.ActionLink("Контакт", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>*@
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink(Request.ServerVariables["HTTP_HOST"], "Index", "Home", new { @class = "navbar-brand" })
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                            <li>@Html.ActionLink("Публикации", "List", "Publication")</li>
                            <li>@Html.ActionLink("Каталог", "List", "Catalog")</li>
                            @*<li>@Html.ActionLink("О программе", "About", "Home")</li>*@
                            <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                        </ul>
                        @*<div>
                                <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>*@
                        <div class="nav navbar-nav navbar-right navbar-LoginPartial">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>
    <div id="body">
        <div class="content-wrapper main-content clear-fix">
            @RenderBody()
        </div>
    </div>
    <p>
        <div id="actionLog"></div>
    </p>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>Иванов П. И. &copy; @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>

    @Styles.Render("~/Content/FancyBox2.1")
    @Scripts.Render("~/bundles/modernizr",
    "~/bundles/jqueryval",
    "~/bundles/bootstrap",
    "~/bundles/scripts",
    "~/Scripts/FancyBox2.1")

</body>
</html>
<script type="text/javascript">
    $(function () {
        $("#qwe").click(function () {
            $.post("@Url.Action("SetPin", "ControlObject")" + "?guid=4532e447-3558-499b-af86-528b1d06bea5&name=49&val=1", function (res) {
                alert(res);
            });
        });

        $('[data-toggle="tooltip"]').tooltip();

        $('button').button({ loadingText: 'Минуточку...' });

        $(document).on('submit', 'form', function () {
            $(this).find("button[type=submit], input[type=submit]").button('loading');
        });

        $('form').attr('autocomplete', 'off');

        $('form[method=post] textarea').addClass("form-control").attr("rows", "11");
        $('form[method=post] input').addClass("form-control");
        $('select').addClass("form-control");

        $("#logoIMG").click(function () {
            document.location = '@Url.Action("Index", "Home")';
        });

        $(".imgpreview").each(function () {
            $(this).fancybox({
                'opacity': true,
                'transitionIn': 'elastic',
                'transitionOut': 'fade',
                'href': $(this).attr('href') == undefined ? $(this).attr('src') : $(this).attr('href')
            });
        });

        $.post("@Url.Action("SetUserStatistic", "Home")" + "?url=" + document.location + "&urlReferrer=" + document.referrer, function (res) {

        });
    })
</script>
