@using psub.net.Shared
@model Psub.DataService.HandlerPerQuery.HomeProcess.Entities.HomeIndexViewModel
@{
    ViewBag.Title = ConfigData.MainTitle;
    ViewBag.Description = ConfigData.MainDescription;
    ViewBag.Keywords = ConfigData.MainKeywords;
}
<h1>@ConfigData.ApplicationName</h1>
<h2>@ViewBag.Message</h2>
<div class="btn-group">
    <button onclick="JavaScript:document.location='@Url.Action("List", "Publication")';" class="btn btn-info">
        Все публикации
    </button>
</div>
@if (Model != null)
{
    <div class="row">
        <div class="col-md-10">
            @if (Model.Publications != null && Model.Publications.Any())
            {
                foreach (var item in Model.Publications)
                {
                    <div class="row well" style="margin: 5px;">
                        <h1>
                            @if (item.IsPublic)
                            {
                                <a href="@Url.Action("Details", "Publication", new { id = item.Id })">@item.TitleText</a>
                            }
                            else
                            {
                                <span data-toggle="tooltip" data-placement="top" data-original-title="@LanguageConstants.AccessClosePublication">
                                    <span class="glyphicon glyphicon-eye-close"></span>@item.TitleText
                                </span>
                            }

                        </h1>
                        <p class="text-info">
                            <b>Автор: @item.Creator</b>
                        </p>
                        <p>
                            @Html.Raw(item.TextPreview)
                        </p>
                        @if (item.IsPublic)
                        {
                            <p>
                                <a href="@Url.Action("Details","Publication", new { id = item.Id })" class="btn btn-primary">Читать дальше <span class="glyphicon glyphicon-arrow-right"></span></a>
                            </p>
                        }
                    </div>
                }
            }

        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Магазин</div>
                <div class="panel-body">
                    @if (Model.Catalogs != null && Model.Catalogs.Any())
                    {
                        foreach (var item in Model.Catalogs)
                        {
                            <div class="row well padding5">
                                <a href="@Url.Action("Details","Catalog", new { id = item.Id })">
                                    @if (item.Files != null && item.Files.Any())
                                    {
                                        <img src="@Url.Action("GetFile", "File", new { entityName = "Catalog", name = item.Files.First().Name, id = item.Id })" class="img70 imgBorder imgpreview" />
                                    }
                                    <div class="row">
                                        <div class="col-md-9">@item.TitleText</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5"><span class="badge">@LanguageConstants.Price : @item.Price р.</span></div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    $(function () {
        $("#createPublication").click(function () {
            document.location = '@Url.Action("Create", "Publication")';
        });
    });
</script>
