@using psub.net.Shared
@model IEnumerable<Psub.DataService.DTO.PublicationDTO>
@{
    ViewBag.Title = ConfigData.MainTitle;
    ViewBag.Description = ConfigData.MainDescription;
    ViewBag.Keywords = ConfigData.MainKeywords;
}
<h1>@ConfigData.ApplicationName</h1>
<h2>@ViewBag.Message</h2>
<div class="btn-group">
    <button id="createPublication" class="btn btn-info">Создать</button>
    <button onclick="JavaScript:document.location='@Url.Action("List", "Publication")';" class="btn btn-info">
        Все публикации
    </button>
</div>
@if (Model!=null && Model.Any())
{
    <p>
        <table class="noBerder simpleSelect">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div style="background: mintcream; opacity: 0.9; padding: 10px;" class="radius">
                            <a class="head" href="@Url.Action("Details", "Publication", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                            <br />
                            <h4><i>Автор: @Html.DisplayFor(modelItem => item.Name)</i></h4>
                            <br />
                            <p>
                                @Html.Raw(item.Text)
                            </p>
                            <br />
                            <p class="Category">
                                <b>@Html.DisplayFor(modelItem => item.PublicationMainSectionName)>>>@Html.DisplayFor(modelItem => item.PublicationSectionName)</b>
                            </p>

                        </div>

                        <br />
                    </td>
                </tr>
            }
        </table>
    </p>
}

<script type="text/javascript">
    $(function () {
        $("#createPublication").click(function () {
            document.location = '@Url.Action("Create", "Publication")';
        });
    });
</script>
