@model Psub.DTO.Entities.UserDTO
@{
    ViewBag.Title = "Личный кабинет";
}

<h2>Личный кабинет</h2>

<fieldset>
    <legend>Данные пользователя  @Html.DisplayFor(model => model.Name)</legend>
    <table>
        <tr>
            <th>@Html.LabelFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.NickName)</th>
            <td>@Html.DisplayFor(model => model.NickName)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.Email)</th>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.City)</th>
            <td>@Html.DisplayFor(model => model.City)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.DateRegistration)</th>
            <td>@Html.DisplayFor(model => model.DateRegistration)</td>
        </tr>
    </table>
    <button id="editUser">Редактировать</button>
</fieldset>
<p>
</p>

<h3>Контроль объекта</h3>
<p><a href="@Url.Action("List", "ControlObject")">Перейти к списку объектов</a></p>

<script type="text/javascript">
    $(function () {
        $("#editUser").click(function () {
            document.location = '@Url.Action("EditUserData", "User")';
        });
    });
</script>
